nizam-ai-workflow.json
{
    "name": "Nizam AI Fixed Workflow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "nizam-ai",
                "options": {}
            },
            "id": "webhook-node",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                340
            ]
        },
        {
            "parameters": {
                "options": {},
                "text": "={{ 'You are a biomedical assistant.\\nAlways return short, clean bullet-point answers.\\nNo markdown. No tables. No JSON.\\nPlain text only, suitable for direct UI display.\\n\\nUser Query: ' + $json.body.prompt }}"
            },
            "id": "ai-agent-node",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1,
            "position": [
                680,
                340
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\n  \"answer\": \"{{ $json.output || $json.text || 'No response generated' }}\"\n}",
                "options": {}
            },
            "id": "respond-node",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                900,
                340
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}